AutoSave/Save.txt
GUI/SecureTextEditor/File.txt
GUI/TextEditor/File.txt
GUI/ConcessionsInventory/Inventory.txt
GUI/ClickerGame/Save.txt
GUI/TerrainGeneratorV1/MultiplePanelsSave.txt
GUI/MultiplePanels/MultiplePanelsSave.txt
